.footerSM {
  padding-top: 30px;
  padding-left: 174px;
  text-align: center;

  .SM-repost-dekstop {
    display: block;
    margin-top: 37px;
    margin-right: 91px;

    @media screen and (max-width: 768px) {
      display: none;
    }

    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  .SM-repost-mob {
    display: none;

    @media screen and (max-width: 768px) {
      display: block;
    }

    @media screen and (max-width: 600px) {
      display: block;
      margin-left: -329px;
      padding-top: 42px;
    }
  }

  .footerSM-text {
    font-size: 24px;
    position: absolute;
    margin-left: -543px;
    padding-top: 44px;
    color: @main-green;

    @media screen and (max-width: 768px) {
      position: absolute;
      margin-top: -42px;
      margin-left: -427px;
      padding-top: -2px;
    }

    @media screen and (max-width: 600px) {
      font-size: 28px;
      margin-top: -37px;
      margin-left: -330px;
    }
  }

  @media screen and (max-width: 768px) {
    margin-top: 8px;
    margin-left: -50px;
  }

  @media screen and (max-width: 600px) {
    margin-top: 34px;
    margin-left: 223px;
  }
}

.footerSM-line {
  margin-bottom: 20px;
  padding-top: 28px;
  border-bottom: 3px solid @main-green;

  @media screen and (max-width: 600px) {
    margin-bottom: 17px;
    padding-top: 46px;
  }
}

.wrapper-footer {
  max-width: 1170px;
  margin: 0 auto;

  .content {
    .footer {
      display: flex;
      margin-bottom: 15px;
      justify-content: space-between;

      .footer-left {
        font-size: 16px;
        margin-left: 14px;

        @media screen and (max-width: 768px) {
          margin-top: -6px;
          margin-left: 19px;
        }

        @media screen and (max-width: 600px) {
          display: none;
        }

        .Footer-left-link {
          text-decoration: none;
          color: @main-green;
          border-bottom: 1px dashed @main-green;

          &:hover {
            border-bottom: none;
          }
        }
      }

      .footer-right {
        font-size: 16px;

        @media screen and (max-width: 768px) {
          margin-top: -6px;
          margin-right: 13px;
        }

        @media screen and (max-width: 600px) {
          font-size: 18px;
          margin-top: 4px;
          margin-left: 26px;
        }

        .footer-right-link {
          text-decoration: none;
          color: @main-green;
          border-bottom: 1px dashed @main-green;

          &:hover {
            border-bottom: none;
          }
        }

        .footer-right-text {
          padding-right: 20px;
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}