.wrapper-header {
  font-family: @Roboto;
  margin: 0 auto;
  height: 65px;
  color: @main-green;
  border-bottom: 5px solid;

  @media screen and (max-width: 1150px) {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }

  @media screen and (max-width: 768px) {
    height: 55px;
    width: 768px;
  }

  @media screen and (max-width: 600px) {
    width: 600px;
  }

  .header-content {
    margin: 0 auto;
    max-width: 1170px;
    display: flex;

    @media screen and (max-width: 768px) {
      width: 768px;
    }

    @media screen and (max-width: 600px) {
      width: 600px;
    }

    @media screen and (max-width: 600px) {
      width: 600px;
    }

    .header-link {
      margin-left: 9px;
      padding-top: 17px;
      font-size: 16px;
      display: flex;
      padding-bottom: 43px;
      white-space: nowrap;
      color: @main-green;

      @media screen and (max-width: 1150px) {
        display: none;
      }

      &:nth-child(2) {
        padding-left: 5px;
      }
      &:nth-child(3) {
        padding-left: 17px;
      }

      .header-link-title {
        text-decoration: none;
        border-bottom: 1px dashed;
        color: @main-green;

        @media screen and (max-width: 768px) {
          display: none;
        }

        &:nth-child(2) {
          margin-left: 6px;
        }

        &:nth-child(3) {
          margin-left: 7px;
        }

        &:hover {
          border-bottom: 0 dashed;
        }
      }
    }

    .header-left-block {
      @media screen and (max-width: 768px) {
        padding-left: 13px;
        padding-top: 10px;
      }

      @media screen and (max-width: 600px) {
        padding-left: 3px;
        padding-top: 8px;
      }

      .fsin-title {
        font-size: 30px;
        margin-bottom: -1px;

        @media screen and (max-width: 768px) {
          font-size: 20px;
        }

        @media screen and (max-width: 600px) {
          font-size: 22px;
        }

      }
      .fsin-sub-title {
        padding-left: 3px;
        font-size: 18px;
        color: black;

        @media screen and (max-width: 768px) {
          padding-top: 2px;
          padding-left: 2px;
          font-size: 13px;
        }

        @media screen and (max-width: 600px) {
          padding-left: 0;
          padding-top: 7px;
          font-weight: bold;
          font-size: 12px;
        }
      }
    }

    .logo-bank {
      padding-left: 185px;

      @media screen and (max-width: 768px) {
        padding-left: 102px;
        padding-top: 9px;
      }

      @media screen and (max-width: 600px) {
        padding-left: 42px;
        padding-top: 4px;
      }

      .bank-adapt {
        width: 140px;
        height: 34px;

        @media screen and (max-width: 768px) {
          margin-top: -4px;
          width: 134px;
          height: 27px;
          margin-left: -28px;
        }

        @media screen and (max-width: 600px) {
          width: 120px;
          height: 34px;
        }
        .bank-image {
          width: 100%;
          height: 100%;
        }
      }
      .bank-title {
        margin-top: -2px;
        padding-left: 8px;
        font-size: 11px;
        white-space: nowrap;
        color: black;

        @media screen and (max-width: 768px) {
          margin-top: -3px;
          padding-left: 17px;
          font-size: 12px;
        }

        @media screen and (max-width: 600px) {
          margin-left: -3px;
          margin-top: -1px;
          padding-left: 0;
          font-size: 11px;
          font-weight: bold;
        }
      }
    }

    .button-enter {
      margin-top: 5px;
      .button-style;

      @media screen and (max-width: 768px) {
        margin-left: 59px;
        padding-top: 8px;
        height: 37px;
      }

      @media screen and (max-width: 600px) {
        margin-left: 22px;
        padding-top: 8px;
        height: 38px;
        width: 111px;
      }
    }
    .button-send {
      display: none;
      .button-style;

      @media screen and (max-width: 768px) {
        height: 37px;
        margin-left: 56px;
      }

      @media screen and (max-width: 600px) {
        margin-left: 16px;
        padding-top: 4px;
        height: 37px;
        width: 111px;
      }
    }

    .button-confirm {
      padding-left:9px;
      display: none;
      .button-style;

      @media screen and (max-width: 768px) {
        margin-left: 56px;
        padding-left: 10px;
        height: 37px;
      }

      @media screen and (max-width: 600px) {
        margin-left: 16px;
        padding-top: 4px;
        padding-left: 4px;
        height: 37px;
        width: 111px;
      }
    }

    .button-exit {
      display: none;
      .button-style;

      @media screen and (max-width: 768px) {
        height: 37px;
        margin-left: 56px;
      }

      @media screen and (max-width: 600px) {
        margin-left: 16px;
        padding-top: 4px;
        height: 37px;
        width: 111px;
      }
    }

    .menu-toggle {
      @media screen and (max-width: 768px) {
        padding-top: 5px;
      }

      @media screen and (max-width: 1150px) {
        padding-right: 7px;
        padding-top: 8px;
      }

      .menu-toggle-item {
        display: none;
        width: 33px;
        height: 30px;

        @media screen and (max-width: 1150px) {
          display: block;
        }

        @media screen and(max-width: 768px) {
          display: block;
          margin-left: 22px;
          margin-top: 5px;
        }
      }
    }

    .enter-phone-title {
      padding-top: 10px;
      color: black;
      font-size: 16px;
    }

    .phone-code {
      padding-top: 8px;
      display: none;

      @media screen and (max-width: 768px) {
        position: absolute;
        right: 159px;
        padding-top: 6px;
      }

      @media screen and (max-width: 600px) {
        right: 163px;
      }

      .phone-code-input {
        margin-left: 5px;
        padding-left: 10px;
        height: 30px;
        width: 110px;
        color: black;
        font-size: 16px;
      }
    }

    .enter-phone {
      padding-top: 7px;
      display: none;

      @media screen and (max-width: 768px) {
        position: absolute;
        right: 159px;
        padding-top: 15px;
      }

      @media screen and (max-width: 600px) {
        left: 180px;
      }

      .enter-phone-input {
        margin-left: 5px;
        padding-left: 10px;
        width: 180px;
        height: 30px;
        color: black;
        font-size: 16px;
      }
    }

    .cross {
      display: none;
      padding-top: 8px;
      padding-left: 10px;
      font-size: 30px;

      @media screen and (max-width: 768px) {
        padding-left: 4px;
      }

      @media screen and (max-width: 600px) {
        padding-left: 4px;
      }
    }

    .lupe-row {
      margin-left: -146px;

      @media screen and (max-width: 768px) {
        margin-left: 73px;
      }

      @media screen and (max-width: 600px) {
        display: none;
      }

      .lupe {
        position: absolute;
        height: 60px;
        margin-top: 8px;

        @media screen and (max-width: 768px) {
          width: 80px;
        }
      }
    }
  }
}