.payment-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  font-family: @Roboto;

  .payment-sub-title {
    text-align: center;
    margin-top: -29px;
    white-space: nowrap;
    color: black;
    font-size: 16px;

    @media screen and (max-width: 768px) {
      font-size: 14px;
    }
  }

  .title-button {
    margin: 0 auto 42px auto;
    width: 1170px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1150px) {
      width: 1000px;
    }

    @media screen and (max-width: 1000px) {
      width: 768px;
    }

    .return-region {
      margin-left: -40px;
      margin-top: 35px;
      display: inline-flex;
      width: 270px;
      height: 70px;
      text-decoration: none;
      border: 1px solid #aaffb4;
      color: black;
      background: white;
      font-size: 18px;
      white-space: nowrap;

      @media screen and (max-width: 768px) {
        margin: 30px 22px 0 -63px;
        white-space: normal;
        width: 140px;
        height: 70px;
      }

      .return-region-link {
        margin-left: 23px;
        margin-bottom: 7px;
        font-size: 18px;
        text-decoration: none;
      }

      .backward {
        margin-right: 7px;
        margin-top: -4px;
        margin-left: -6px;
        height: 30px;
        width: 30px;

        @media screen and (max-width: 768px) {
          margin-right: 7px;
          margin-top: 6px;
          margin-left: -26px;
          height: 30px;
          width: 30px;
        }
      }
    }

    .payment-title {
      padding-left: 231px;
      padding-top: 7px;
      margin: auto;
      line-height: 1.2;
      white-space: pre-line;
      font-size: 24px;
      color: @main-green;
      text-align: center;

      @media screen and (max-width: 1150px) {
        padding-left: 0;
      }

      @media screen and (max-width: 768px) {
        padding-top: 0;
        padding-left: 96px;
        font-size: 22px;
      }
    }
  }

  .content-center {
    padding-top: 28px;
    display: flex;

    @media screen and (max-width: 1150px) {
      display: block;
    }

    .payment-forms {
      display: flex;
      width: 770px;
      background: @map;
      height: 420px;

      @media screen and (max-width: 1150px) {
        width: 100%;
      }

      .forms-container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: flex-end;

        .button-translate {
          margin: 18px auto;
          font-size: 18px;
          color: white;
          background: @main-green;
          width: 270px;
          height: 60px;
          border: 0;
          border-radius: 3px;
        }

        .input-style {
          margin-top: 22px;
          padding-left: 22px;
          display: flex;

          &:last-child {
            background: green;
          }

          .calendar {
            margin-top: -1px;
            margin-left: 369px;
            position: absolute;
            height: 49px;
          }

          .input-name-sum {
            padding-right: 17px;
            white-space: pre-line;
            font-size: 14px;
            line-height: 1.2;
            padding-top: 6px;
          }

          .input-name {
            margin-right: 16px;
            padding-top: 10px;
            color: black;
            font-size: 16px;
          }

          .input-form {
            margin-right: 19px;
            margin-top: -2px;
            border: 1px solid #c1c1c1;
            border-radius: 2px;
            font-size: 16px;
            width: 324px;
            height: 35px;

            &::placeholder {
              padding-left: 16px;
              color: black;
            }
          }

          .input-datepick {
            margin-right: 173px;
            width: 170px;
          }

          .input-sum {
            margin-top: 3px;
            margin-right: 12px;
            width: 100px;
          }
        }
      }
    }

    .right-block {
      margin-left: 30px;

      @media screen and (max-width: 1050px) {
        flex-direction: column;
      }

      @media screen and (max-width: 768px) {
        max-width: 768px;
        display: flex;
        flex-direction: column;
        padding-top: 113px;
        padding-left: 51px;
      }

      @media screen and (max-width: 600px) {
        margin-top: 700px;
        padding-left: 0;
      }

      .right-block-up {
        @media screen and (max-width: 1150px) {
          display: flex;
          justify-content: space-around;
        }

        @media screen and (max-width: 768px) {
          display: flex;
        }

        @media screen and (max-width: 600px) {
          display: block;
        }

        .right-block-item {
          width: 370px;
          display: flex;
          border-bottom: 1px solid #d1ecd4;

          @media screen and (max-width: 600px) {
            width: 100%;
          }

          &:first-child {
            padding-bottom: 23px;
            margin-top: -12px;

            @media screen and (max-width: 1150px) {
              margin-top: 15px;
            }

            @media screen and (max-width: 600px) {
              padding-bottom: 20px;
            }
          }

          &:last-child {
            margin-top: 14px;
            padding-bottom: 24px;

            @media screen and (max-width: 768px) {
              margin-top: 0;
            }

            @media screen and (max-width: 600px) {
              margin-top: 15px;
            }
          }

          .right-block-item-image {
            @media screen and (max-width: 600px) {
              padding-left: 5px;
            }

            .right-image {
              height: 70px;
              width: 70px;
            }
          }

          .right-block-item-title {
            line-height: 1.2;
            padding-left: 30px;
            text-align: left;
            font-size: 14px;
            color: black;

            @media screen and (max-width: 600px) {
              font-size: 18px;
            }
          }
        }
      }

      .right-block-down {
        margin-top: 16px;

        @media screen and (max-width: 1150px) {
          display: flex;
          justify-content: space-around;
        }

        @media screen and (max-width: 768px) {
          display: flex;
        }

        @media screen and (max-width: 600px) {
          display: block;
        }

        .right-block-item {
          width: 370px;
          display: flex;
          border-bottom: 1px solid #d1ecd4;

          @media screen and (max-width: 600px) {
            width: 100%;
          }

          &:first-child {
            padding-bottom: 21px;

            @media screen and (max-width: 1150px) {
              margin-top: 12px;
              border-bottom: 0;
            }
          }

          &:last-child {
            padding-top: 14px;
            border-bottom: 0 solid #d1ecd4;

            @media screen and (max-width: 768px) {
              padding-top: 0;
              margin-top: 0;
              border-bottom: 1px solid #d1ecd4;
            }
          }

          .right-block-item-image {

            .right-image {
              padding-left: 12px;
              height: 70px;
              width: 72px;
            }
          }

          .right-block-item-title {
            line-height: 1.2;
            padding-left: 30px;
            text-align: left;
            font-size: 14px;
            color: black;

            @media screen and (max-width: 600px) {
              font-size: 18px;
            }
          }
        }
      }
    }
  }

  .div {
    margin-top: 34px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    line-height: 1.2;

    .right-menu-link {
      .fsin-link;
    }

    .payment-info {
      white-space: pre-line;
      display: flex;

      &:last-child {
        margin-right: 10px;
      }

      .payment-info-contacts {
        .wrapper-images {
          display: flex;
          flex-direction: column;
          margin-top: -115px;

          .payment-info-block {
            white-space: pre-line;
          }

          .flex-item-top {

            .flex-item-block {
              height: 113px;
              text-align: center;

              &:last-child {
                margin-left: 28px;
                margin-top: -6px;
              }

              .flex-item-image {
                width: 120px;
              }

              .shield {
                width: 86px;
                margin-left: 73px;
                margin-top: 8px;
              }

              .shield-title {
                font-size: 14px;
                padding-left: 34px;
                margin-top: -40px;
                text-align: center;
              }

              .flex-item-title {
                margin-top: -55px;
                font-size: 14px;
                text-align: center;

                @media screen and (max-width: 768px) {
                  margin-top: -49px;
                }
              }
            }
          }

          .flex-item-down {
            margin-top: 20px;

            .flex-item-block {
              text-align: center;

              &:last-child {
                margin-top: -48px;
              }

              .flex-item-image {
                height: 50px;

                @media screen and (max-width: 768px) {
                  width: 97px;
                  margin-right: 82px;
                  margin-top: -17px;

                }

                &:first-child {
                  margin-right: -28px;
                  margin-top: 5px;
                }
              }

              .flex-item-title {
                font-size: 14px;
                text-align: center;

                @media screen and (max-width: 768px) {
                  margin-top: -49px;
                }
              }
            }
          }
        }

        .payment-info-word {
          font-weight: 500;
        }

        .payment-info-block {
          border-bottom: 1px solid #aaffb4;
          padding-bottom: 10px;
          padding-left: 10px;

          &:nth-child(n+2) {
            padding-left: 11px;
            margin-top: -34px;
          }

          .payment-info-word {
            font-weight: 500;
          }

          .right-menu-link {
            .fsin-link;
          }

          .payment-info-contacts {
            font-size: 16px;

          }

          &:last-child {
            border-bottom: 0;
          }
        }
      }

      .payment-info-caption {
        margin-right: 21px;
        .text-caption;
      }

      .payment-info-text {
        text-align: left;
        font-size: 14px;
        color: black;
        white-space: normal;
        line-height: 1.2;
      }
    }
  }
}