.b-content-popup {
  .font(16px, @Geometria, @gray);
  .close-wrap {

    .close {
      position: absolute;
      margin-top: 35px;
      margin-right: 12px;
      opacity: 1;
      transition: 0.5s;
      cursor: pointer;
    }

    .close-hover {
      position: absolute;
      right: 0;
      top: -30px;
      margin-top: 35px;
      margin-right: 12px;
      opacity: 0;
      transition: 0.5s;
      cursor: pointer;
    }

    &:hover {
      .close {
        opacity: 0;
      }

      .close-hover {
        opacity: 1;
      }
    }
  }

  .wrap-content {
    //margin-left: 50px;
    //margin-right: 50px;
    width: 975px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 75px;

    .left-block-content-popup {
      width: 435px;

      .wrap-image-main {
        margin: 0 auto;
        width: 435px;
        height: 250px;

        .image-main {
          position: absolute;
          width: 435px;
          height: 250px;
        }
      }

      .wrap-bulls {
        margin-top: 15px;
        width: 435px;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .bull-image {
          width: 145px;
          height: 95px;
          cursor: pointer;
          transition: .5s;

          &:hover {
            box-shadow: 0 0 13px 1px black;
          }
        }
      }
    }

    .right-block-content-popup {
      margin-left: 30px;
      width: 410px;
      border: 1px solid black;

      .title {
        .font(18px, @Geometria, @gray);
        padding-bottom: 30px;
      }

      .description {
        .font(12px, @Geometria, @gray);
      }

      .link-list {

      }
    }
  }
}
