.tooltip {
  opacity: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 120px;
  margin: 40px auto;
  border: 1px solid #80de8b;
  border-bottom: 1px solid #80de8b;
  border-radius: 4px;
  background: white;
}

.tooltip em[class ^='hook'],
.tooltip em[class ^='hook']>em {
  position: absolute;
  display: block;
  border-width: 10px;
  border-style: solid;
}

.tooltip .hook-bottom>em,
.tooltip .hook-top>em {
  left: -10px;
}

.tooltip .hook-top>em {
  top: -9px;
  border-color: transparent transparent white transparent;
}

.tooltip .hook-top {
  top: -20px;
  border-color: transparent transparent #80de8b transparent;
}

.tooltip .hook-left {
  left: 4px;
}

.tooltip-text {
  font-size: 16px;
  height: 40px;
  text-decoration: none;
  color: #1a9f29;
  border-bottom: 1px solid #dcf3de;

  &:hover {
    color: white;
    background: #1a9f29;
  }
}