@import "mixins";

@font-face {
  .createFont('veranda', @veranda);
}

@font-face {
  .createFont('Geometria', @Geometria);
}

@font-face {
  .createFont('Geometria', @GeometriaItalic);
}

@font-face {
  .createFont('Geometria', @GeometriaBold);
}
