@import "mixins";
/*

.g-icon {
  font-family: icons;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.g-popup {
  overflow-Y: auto;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1010;

  .overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    //background: linear-gradient(180deg, @gray, @white);
    background-color: black;
    opacity: 0.9;
  }

  .content-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1010;

    .content-popup {
      min-height: 500px;
      width: 975px;
      .center-position-horizontally(73%);
      .center-position-vertically(-15%);
      position: relative;
      background: @white;
      box-shadow: 0 15px 37.6px 2.4px rgba(0, 0, 0, 0.24);
      z-index: 1020;
    }

    .close {
      position: absolute;
      right: 0;
      top: -30px;
      cursor: pointer;
      color: @white;
      opacity: 1;
    }
  }
}*/
