@import "mixins";

@font-face {
  font-family: 'icons';
  src: url('@{fontPath}icons/icons.eot');
  src: url('@{fontPath}icons/icons.eot?#iefix') format('embedded-opentype'),
  url('@{fontPath}icons/icons.ttf') format('truetype'),
  url('@{fontPath}icons/icons.woff') format('woff'),
  url('@{fontPath}icons/icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.g-icon {
  .icons();
}
