@import "mixins";
/*

html {
  overflow: auto;
}
html,
body {
  background-color: @white;
  position: relative;
  min-width: 1275px;
  cursor: default;
  font-family: @veranda;
}


html.popup {
  overflow: hidden;
  box-sizing: border-box;
  padding-right: 17px;
}

.p-header {
  margin: 0 auto;
  width: 1175px;
  height: 100px;

  .logo {
    position: absolute;
    margin-left: 0;
    display: inline-block;
    width: 220px;
    height: 100px;
    text-align: left;
    background: url("/src/images/logo/logo.png");
    background-repeat: no-repeat;
    padding-left: 0;
  }

  .container {
    margin-right: 0;
    width: 570px;
    height: 100px;
    display: flex;
    flex-direction: row;
    padding: 0;

    .info {
      margin-top: 37px;
      width: 500px;
      height: 16px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .font(12px, @Geometria, @gray);
      text-decoration: none;

      .telephone {
        display: none;
        cursor: pointer;
        text-decoration: none;
        color: @gray;

        &:hover {
          text-decoration: underline;
        }
      }

      .email {
        display: none;
        cursor: pointer;
        text-decoration: none;
        color: @gray;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &.active {
      display: block;
    }

    .show-info {
      margin-top: 35px;
      margin-left: 35px;
      width: 30px;
      height: 18px;
      background: url("/src/images/Icons/menu.png");
      background-size: cover;
      cursor: pointer;
      transition: .5s;

      &:hover {
        background: url("/src/images/Icons/omenu.png");
        background-size: cover;
      }
    }
  }
}

.p-content {
  margin: 0 auto;
  width: 1175px;
  height: 600px;

  .container {
    margin: 0;
    .font(12px, @Geometria, @gray);
    text-align: center;
    padding: 0;

    .menu {
      margin: 20px auto 35px;
      width: 600px;
      height: 30px;
      display: flex;
      justify-content: center;
      flex-direction: row;

      .menu-item {
        margin-left: 30px;
        width: 100px;
        height: 30px;
        padding-top: 6px;
        cursor: pointer;
        transition: .5s;

        &:first-child {
          margin-left: 0;
        }

        &.active {
          background-color: @gray;
          color: @white;
          box-shadow: 0 0 1px 1px @gray;
        }
      }
    }

    .content-items {
      display: none;

      .content {
        width: 1175px;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;

        .item-content {
          margin-left: 15px;
          margin-bottom: 0;
          width: 380px;
          height: 250px;
          cursor: pointer;

          .default-image {
            position: absolute;
            opacity: 1;
            transition: 1s;

            &.default-image-first {
              opacity: 0;
              transition: 1s;
            }
          }

          .hover-image {
            opacity: 0;
            transition: 1s;

            &.hover-image-first {
              opacity: 1;
              transition: 1s;
            }
          }
          &:first-child:hover {
            .hover-image {
              opacity: 0;
            }

            .default-image {
              opacity: 1;
            }
          }

          &:hover {
            .hover-image {
              opacity: 1;
            }

            .default-image {
              opacity: 0;
            }
          }

          &:nth-child(1) {
            margin-bottom: 15px;
          }

          &:nth-child(2) {
            margin-bottom: 15px;
          }

          &:nth-child(3) {
            margin-bottom: 15px;
          }

          &:nth-child(3n+1) {
            margin-left: 0;
          }
        }
      }
    }
  }
}


.p-footer {
  margin: 0 auto;
  width: 1175px;
  height: 50px;

  .slide-footer {
    width: 20px;
    height: 20px;
    margin: 15px auto;
    background: url("/src/images/Icons/next.png");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: .5s;

    &:hover {
      background: url("/src/images/Icons/onext.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
*/
