@fontPath: '../fonts/';
@imagePath: '../images/';

@PTSans: 'PTSans';
@Geometria: 'Geometria';
@GeometriaBold: 'Geometria-Bold';
@GeometriaItalic: 'Geometria-italic';
@veranda: 'veranda';
@Roboto:'Roboto';
@Helvetica:'helvetica neue cyr';

@gray: #4a4a4a;
@white: #F5F5F5;
@orange: #d24212;
@gray-popup: #505050;


@main-green:#1a9f29;
@map:#eefff0;
