@import "mixins";

h1 {
  margin-top: -10px;
  padding-left:  15px;
  .font(34px, @GeometriaBold , @black);
  text-transform: uppercase;
}

h2 {
  margin-top: -5px;
  padding-left: 16px;
  padding-bottom: 7px;
  .font(25px, @GeometriaBold, @black);
}

h3 {
  margin-top: 38px;
  .font(20px, @GeometriaBold, @black);
  padding: 10px 0 15px 15px;
}

h4 {
  .font(18px, @GeometriaBold, @black);
  padding: 15px 0 0 15px;
}
h5 {
  .font(16px, @GeometriaBold, @black);
  padding: 30px 0 0 15px;
}

p {
  padding-left: 15px;
  padding-top: 7px;
  line-height: 20px;
  .font(16px, @Geometria, @black)
}

span {
  .font(19px, @GeometriaItalic, @gray);
}

ol {
  margin-left: -25px;
  margin-top: 0;
  padding-left: 60px;

  li {
    margin-top: -10px;
    .font(18px, @Geometria, @black)
  }

}

ul {
  padding-left: 40px;

  li{
    margin-top: -10px;
    .font(18px, @Geometria, @red)
  }
}

table {
  margin-top: 20px;
  margin-left: 15px;
  width:100%;
  .font(16px, @Geometria, @black);
}

tr {
  height: 70px;
  border-top: 1px solid @grayLine;
  border-bottom: 1px solid @grayLine;

  &:nth-child(odd) {
    background: @lightBlue;
  }

  &:first-child {
    background: @lightPink;
    font-weight: bold;
  }
}

td {
  padding: 20px 30px 20px 34px;
}

a {
  color: @aqua;

  &:hover {
    border-bottom: 1px solid;
  }
}
